@model WazeCredit.Models.ViewModels.HomeVM
@using Microsoft.Extensions.Options
@using WazeCredit.Utilities.AppSettingsClasses

@inject IOptions<WazeForecastSettings> wazeForerCastSettings

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Model.MarketForecast</p>

    <p>Current Market Prediction Status: @(wazeForerCastSettings.Value.ForecastTrackerEnabled ? "Online" : "Offline")</p>    
</div>
